<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home')}}">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ path('home')}}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{{ path('memo.test')}}">Création Memo</a>


                    {# {% if app.user.isVerified %}<a class="nav-link" href="#">Profil </a>{% endif %} #}
                    {# {% if app.user.isVerified is defined and app.user.isVerified %}<a class="nav-link" href="#">Profil </a>{% endif %} #}
                    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} <a class="nav-link" href="#">Profil </a> {% endif %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %} <a class="nav-link" href="{{ path('app_login')}}">Connexion </a> {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %} <a class="nav-link" href="{{ path('app_logout')}}">Deconnexion </a> {% endif %} #}
                
                   
                </div>
                
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
